<h1>Converter#new</h1>
<p>Find me in app/views/converter/new.html.erb</p>

<%= form_with url: converter_convert_path, multipart: true do |form| %>
  <%= form.file_field :file %>
  <%= form.submit "Submit" %>
<% end %>
